.container {
    position: relative;
    width: fit-content;
    min-width: 320px;
    background-color: var(--background-accent);
    border-radius: 12px;
    overflow: hidden;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
}

.image {
    padding: 10px 10px 0;
    width: 300px;
    border-radius: 19px;
}

.line {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    padding: 0 10px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.time {
    font-size: 0.9rem;
    color: var(--text);
    margin-bottom: 10px;
}

.likes {
    padding: 3px;
    font-size: 15px;
    border: var(--accent) solid 2px;
    background-color: var(--primary);
    color: var(--text-dark);
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.likes.liked {
    background: var(--secondary);
    color: var(--text);
}

.likes:hover {
    transform: scale(1.15);
}

.likes:active {
    transform: scale(0.9);
}

.winner, .award {
    margin: 0;
    font-size: 1rem;
    color: var(--secondary);
    font-weight: bold;
}

.winner {
    padding: 5px;
    background-color: var(--primary);
    border-radius: 10px;
    /*margin-top: -5px;*/
    margin-bottom: 2px;
    box-sizing: border-box;
}

.award {
    margin-top: 5px;
    margin-bottom: 10px;
}

.rating {
    position: absolute;
    top: 10px;
    right: 23px;
    background-color: var(--primary);
    color: var(--text-dark);
    padding: 5px 10px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 15px;
}

.star {
    color: var(--secondary);
}

.button:active {
    transform: scale(0.9);
}