@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

.outer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #e2e2e2, #c9ffe9);
    font-family: 'Montserrat', sans-serif;
    transition: all 0.5s ease-in-out;
}

.fullCard, .halfCard {
    background-color: white;
    border-radius: 30px;
    border: 1px solid #ddd;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
}

.fullCard {
    width: 768px;
    min-height: 480px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.halfCard {
    margin: 15px;
    width: 384px;
}