@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

.outer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: var(--linearBackground90);
    font-family: 'Montserrat', sans-serif;
}

.fullCard, .halfCard {
    background-color: var(--background-accent);
    border-radius: 30px;
    transition: all 0.5s ease-in-out;
}

.fullCard {
    width: 768px;
    min-height: 530px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.halfCard {
    margin: 15px;
    width: 384px;
}